body {
    margin: 50px;
    background: url('plastic.png') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: 'Roboto Slab', serif;
    position: relative;
}

.film-grain {
    position: fixed;
    top: -100%;
    left: -50%;
    width: 300%;
    height: 300%;
    pointer-events: none;
    background: url('film-grain.png') repeat;
    opacity: 0.28;
    animation: grain 10s steps(8) infinite;
    z-index: -5;
}

@keyframes grain {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -5%); }
    20% { transform: translate(5%, 5%); }
    30% { transform: translate(-10%, 10%); }
    40% { transform: translate(10%, -10%); }
    50% { transform: translate(-15%, 15%); }
    60% { transform: translate(15%, -15%); }
    70% { transform: translate(-20%, 20%); }
    80% { transform: translate(20%, -20%); }
    90% { transform: translate(-25%, 25%); }
}

.container {
    display: flex;
    flex-direction: column;
    gap: 5vh;
    max-width: 90vw;
    margin: 0 auto;
}

.assignment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.assignment-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2vw;
    padding: 3vw;
    border-radius: 2vw;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 80vw;
}

.assignment-image img {
    width: 35vw;
    height: auto;
    max-width: 100%;
    border-radius: 2vw;
    object-fit: cover;
}

.assignment-description {
    color: white;
    text-align: left;
    padding: 2vw;
    font-size: 1.5vw;
    max-width: 35vw;
}
